// Colors
$primary-100: #EAF1FB;
$primary-200: #6FA1EC;
$primary-300: #2F73DA;
$primary-400: #165ECC;
$primary-500: #034AB3;

$neutral-white: #ffffff;
$neutral-100: #F8F9FB;
$neutral-200: #EEF1F6;
$neutral-300: #E4E8EE;
$neutral-400: #CDD3DD;
$neutral-500: #A8B1BD;
$neutral-600: #6A7381;
$neutral-700: #49505A;
$neutral-800: #1F2329;
$neutral-900: #121417;

$success-100: #DDFDED;
$success-200: #0AC295;
$success-300: #09A57F;
$success-400: #078364;
$success-500: #027357;

$warning-100: #FEF7B9;
$warning-200: #FFDA6C;
$warning-300: #FFB400;
$warning-400: #FA8902;
$warning-500: #C33E01;

$error-100: #FCD2CF;
$error-200: #F45532;
$error-300: #DF320C;
$error-400: #C61A0B;
$error-500: #AE0A0A;

//Border Radius
$border-radius-small: 2px;
$border-radius-med: 4px;
$border-radius-large: 16px;
$border-radius-rounded: 50%;

//Easing
$transition: all 350ms cubic-bezier(.475, .425, 0, .995);
$easing: cubic-bezier(.475, .425, 0, .995);

// Shadows
$shadow-low: 0px 1px 3px rgba(87, 102, 117, 0.2);
$shadow-med: 0px 3px 8px rgba(87, 102, 117, 0.15);
$shadow-high: 0px 10px 20px rgba(87, 102, 117, 0.16);
$focus-ring: 0px 0px 0px 2px $primary-200;

//Spacing
$spacing-4px: 4px;
$spacing-8px: 8px;
$spacing-12px: 12px;
$spacing-16px: 16px;
$spacing-24px: 24px;
$spacing-32px: 32px;
$spacing-40px: 40px;
$spacing-48px: 48px;
$spacing-64px: 64px;
$spacing-96px: 96px;

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 400;
    src: url(/fonts/ProximaNova-Reg.otf);
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 700;
    src: url(/fonts/ProximaNova-Sbold.otf);
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 900;
    src: url(/fonts/ProximaNova-Bold.otf);
}


body {
    padding: 0;
}

.top-bar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 48px;
    border-bottom: 1px solid $neutral-700;
    align-items: center;
    position: fixed;
    background-color: $neutral-800;
    z-index: 1;

    .left {
        padding: 0 0 0 24px;
        display: flex;
        align-items: center;
    }

    .right {
        display: flex;
        align-items: flex-start;

        >div {
            border-right: 1px solid $neutral-700;
            height: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 16px;
            cursor: pointer;
            transition: $transition;

            &:hover {
                background-color: $neutral-600;
            }

            &.profile-dropdown {
                padding: 8px 24px;
                border: none;
            }

            &.search-wrapper {
                padding: 0;
                position: relative;
                color: $neutral-600;

                svg {
                    position: absolute;
                    left: 12px;
                    top: 50%;
                    transform: translateY(-50%);
                }

                input {
                    height: 47px;
                    background-color: $neutral-800;
                    border: none;
                    border-bottom: 1px solid $neutral-700;
                    border-left: 1px solid $neutral-700;
                    padding: 0 24px 0 36px;
                    min-width: 282px;
                }
            }
        }
    }
}

.flex-wrapper {
    display: flex;
}

.left-nav {
    height: calc(100vh - 48px);
    display: flex;
    flex-direction: column;
    width: 232px;
    border-right: 1px solid $neutral-700;
    padding: 24px 0 0 0;
    position: fixed;
    bottom: 0;
    overflow: auto;

    .nav-item {
        display: flex;
        align-items: center;
        padding: 16px 24px;
        color: $neutral-white;
        text-decoration: none;
        position: relative;
        cursor: pointer;

        &:hover{
            background-color: $neutral-700;
        }

        &.active {
            color: $primary-200;

            &:after {
                content: "";
                top: 50%;
                right: 16px;
                transform: translateY(-50%);
                width: 4px;
                height: 4px;
                background-color: $primary-200;
                position: absolute;
                border-radius: 50%;
            }
        }

        img {
            margin-right: 12px;
        }

        &.with-children{
            display: block;

            &:hover{
                background-color: $neutral-700;
            }

            &.open{
                &:hover{
                    background-color: $neutral-800;
                }
                .children{
                    height: auto;
                    opacity: 1;
                    pointer-events: auto;
                    margin-top: 8px;
                }
            }

            .label{
                display: flex;
                align-items: center;
                // padding: 16px 24px;
                color: $neutral-white;
                text-decoration: none;
                position: relative;
            }

            .children{
                margin-top: 0;
                transition: $transition;
                height: 0;
                opacity: 0;
                pointer-events: none;

                a{
                    display: block;
                    padding: 12px 12px 12px 28px;
                    color: $neutral-400;
                    transition: $transition;

                    &:hover{
                        color: $primary-200;
                        text-decoration: none;
                    }
                }
            }
        }
    }

    &.guide {
        flex-direction: column;
        justify-content: flex-start;

        .bottom{
            a{
                border-top: 1px solid $neutral-700;
                padding: 16px 24px;
                font-size: 16px;
                line-height: 20px;
            }
        }

        .back {
            display: flex;
            align-items: center;
            padding-left: 24px;
            color: $neutral-400;

            &:hover {
                background-color: transparent;
                color: $primary-200;
            }

            svg {
                margin-right: 8px;
            }
        }

        .nav-header {
            display: flex;
            align-items: center;
            padding-left: 24px;
            margin: 32px 0 16px;

            img {
                margin-right: 12px;
            }
        }

        .nav-item {
            padding: 8px 24px;
            font-size: 14px;
        }
    }


}

.content-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: calc(100vw - 232px);
    height: calc(100vh - 48px);
    position: relative;
    left: 232px;
    top: 48px;
    overflow: auto;

    .content-inner {
        width: 100%;
        box-sizing: border-box;
    }

    &.landing-page {
        padding: 0;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;

        .gradient-wrapper{
            width: 100%;
            display: flex;
            justify-content: center;
            background: linear-gradient(180deg, #121417 0%, #1F2329 63.93%);
            margin-top: 625px; 

            @media(max-width: 1800px){
                margin-top: 425px;
            }
        }

        .content-inner {
            max-width: 990px;
            padding: 48px 32px 0;
        }

        .card-wrapper {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            grid-gap: 16px;

            .card {
                background-color: $neutral-700;
                display: flex;
                padding: 16px;
                border-radius: $border-radius-med;
                text-decoration: none;
                cursor: pointer;
                transition: $transition;

                &:hover {
                    background-color: $neutral-600;
                }
            }
        }
    }

    &.guide-page {
        padding: 24px 32px 32px;

        .content-inner {
            max-width: 682px;
        }
    }
    
    &.api-page {
        padding: 24px 32px 32px;

        .content-inner {
            max-width: 1200px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            > .row{
                width: 100%;
                display: flex;
                align-items: flex-start;
                justify-content: space-between;

                > .left{
                    width: calc(50% - 16px);
                    position: sticky;
                    top: 48px;
                }
    
                > .right{
                    width: calc(50% - 16px);
                    position: sticky;
                    top: 48px;
                }
            }

            > .left{
                width: calc(50% - 16px);
            }

            > .right{
                width: calc(50% - 16px);
            }
            

            > .full{
                width: 100%;
            }

            h1{
                position: relative;

                &:after{
                    content: "";
                    width: 10%;
                    height: 4px;
                    border-radius: 50px;
                    background-color: $primary-200;
                    position: absolute;
                    left: 0;
                    bottom: -4px;
                }
            }

            span.code{
                background-color: rgba($color: $neutral-700, $alpha: .7);
                font-family: Menlo, Arial, Helvetica, sans-serif;
                font-size: 14px;
                padding: 1px 4px;
                border-radius: 4px;
                color: #fff;
            }

            .message-box{
                background-color: transparent;
            }

            hr.new-section{
                border: none;
                height: 4px;
                margin: 80px 0;
                background:linear-gradient(90deg, #6FA1EC 0%, rgba(111, 161, 236, 0) 100%); ;
            }
        }
    }

    .table .table-body .table-row{
        
        align-items: unset;

        .cell{
            align-items: flex-start;
            height: unset;
            
            .cell-text{
               text-overflow: unset;
               white-space: unset;
               overflow: unset;
            }
       }
    } 

    footer {
        padding: 0 0 40px 0;

        hr {
            margin-block-start: 40px;
            margin-block-end: 40px;
        }

        .email-wrapper {
            .input-group {
                display: flex;
                align-items: center;

                input {
                    width: 303px;
                    border-top-right-radius: 0;
                    border-bottom-right-radius: 0;
                }

                button {
                    border-top-left-radius: 0;
                    border-bottom-left-radius: 0;
                    height: 48px;
                    border-left: none;
                }
            }
        }
    }
}

.home-banner{
    width: 100%;
    position: fixed;
    background-image: url('../page-assets/banner/banner-image.svg') ;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
    width: calc(100vw - 232px);
    left: 232px;
    top: 48px;
    height: 625px;
    padding: 8vw 0 0;

    @media(max-width: 1800px){
        height: 425px;
    }

    .banner-content{
        width: 990px;
        padding: 0 64px;
        margin: 0 auto;

        h1, p {
            width: 375px;
        }
    }
}

.code-editor {
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid $neutral-600;

    .code-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 12px 16px;
        background-color: $neutral-700;
        border-bottom: 1px solid $neutral-600;
        

        .file-name {
            display: flex;
            align-items: center;
            font-size: 14px;
            line-height: 16px;

            svg {
                margin-right: 8px;
            }
        }

        .right{
            display: flex;
            align-items: center;

            .action{
                display: flex;
                align-items: center;
                font-size: 14px;
                line-height: 16px;
                transition: $transition;
                cursor: pointer;
                margin-right: 24px;

                &:last-of-type{
                    margin: 0;
                }

                &:hover{
                    color: $primary-200;
                }

                &.disabled{
                    color: $neutral-500;
                    pointer-events: none;
                }

                span{
                    margin-left: 8px;
                }
            }
        }
    }

    .code-body {
        padding: 16px 24px;
        background-color: $neutral-800;
        position: relative;

        ol {
            list-style: none; 
            counter-reset: li;
            margin: 0;

            li {
                font-family: Menlo, Arial, Helvetica, sans-serif;
                font-size: 13px;
                line-height: 20px;
                counter-increment: li;
                margin-bottom: 0;
                position: relative;
                padding-left: 32px;

                &::before{
                    content: counter(li); 
                    color: $neutral-500;
                    position: absolute;
                    left: 0;
                    text-align: right;
                    width: 1em;
                }

                &.indent{
                    &.one{
                        padding-left: 48px;
                    }

                    &.two{
                        padding-left: 64px;
                    }

                    &.three{
                        padding-left: 80px;
                    }

                    &.four{
                        padding-left: 96px;
                    }
                }
            }

            .comment{
                color: #689754;
            }

            .light-blue{
                color: #94D0F0;
            }
            .dark-blue{
                color: #578EBC;
            }
            .tan{
                color: #C18971;
            }
            .yellow{
                color: #CDCD9F;
            }
            .teal{
                color: #4EC8AF;
            }
            .purple{
                color: #A97AA5;
            }
        }

        .response{
            display: none;

            &.show{
                display: block;
            }
        }

        .request{
            &.hide{
                display: none;
            }
        }
    }
}

.inter-toggle, .size-toggle{
    top: 14px;
    right: unset;
    left: 172px;
}

.size-toggle{
    left: 324px;
}

#login{
    .modal-body{
        max-height: unset;
    }

    .modal-close{
        position: absolute;
        right: 28px;
        top: 24px;
    }
}

.running-overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0, 0.5);
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: $transition;

    &.show{
        opacity: 1;
        visibility: visible;
    }

    svg{
        animation: spin forwards infinite 1000ms $easing;
    }

    @keyframes spin {
        0%{
            transform: rotate(0deg);
        }
        
        100%{
            transform: rotate(360deg);
        }
    }

    span{
        margin-left: 8px;
    }
}