// Colors
$primary-100: #EAF1FB;
$primary-200: #E1EDFF;
$primary-300: #2F73DA;
$primary-400: #165ECC;
$primary-500: #034AB3;

$neutral-white: #ffffff;
$neutral-100: #F8F9FB;
$neutral-200: #EEF1F6;
$neutral-300: #E4E8EE;
$neutral-400: #CDD3DD;
$neutral-500: #A8B1BD;
$neutral-600: #6A7381;
$neutral-700: #49505A;
$neutral-800: #1F2329;
$neutral-900: #121417;

$success-100: #DDFDED;
$success-200: #0AC295;
$success-300: #09A57F;
$success-400: #078364;
$success-500: #027357;

$warning-100: #FEF7B9;
$warning-200: #FFDA6C;
$warning-300: #FFB400;
$warning-400: #FA8902;
$warning-500: #C33E01;

$error-100: #FCD2CF;
$error-200: #F45532;
$error-300: #DF320C;
$error-400: #C61A0B;
$error-500: #AE0A0A;

//Border Radius
$border-radius-small: 2px;
$border-radius-med: 4px;
$border-radius-large: 16px;
$border-radius-rounded: 50%;

//Easing
$transition: all 350ms cubic-bezier(.475,.425,0,.995);
$easing: cubic-bezier(.475,.425,0,.995);

// Shadows
$shadow-low: 0px 1px 3px rgba(87, 102, 117, 0.2);
$shadow-med: 0px 3px 8px rgba(87, 102, 117, 0.15);
$shadow-high: 0px 10px 20px rgba(87, 102, 117, 0.16);
$focus-ring: 0px 0px 0px 3px rgba(82, 138, 224, 0.8);

//Spacing
$spacing-4px: 4px;
$spacing-8px: 8px;
$spacing-12px: 12px;
$spacing-16px: 16px;
$spacing-24px: 24px;
$spacing-32px: 32px;
$spacing-40px: 40px;
$spacing-48px: 48px;
$spacing-64px: 64px;
$spacing-96px: 96px;

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 400;
    src: url(/fonts/ProximaNova-Reg.otf);
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 700;
    src: url(/fonts/ProximaNova-Sbold.otf);
}

@font-face {
    font-family: 'Proxima Nova';
    font-weight: 900;
    src: url(/fonts/ProximaNova-Bold.otf);
}

body{
    padding: $spacing-48px;
    overflow: hidden;
}

//Color

div, p, a, input, textarea, label, button, h1, h2, h3{
    color: $neutral-900;
}

.color-secondary{
    color: $neutral-600;
}

//Font Sizes

div, p, a, input, textarea, label, button {
    font-family: 'Proxima Nova';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

h1, h2, h3{
    font-family: 'Proxima Nova';
    font-weight: 900;
    margin: 0;
    padding: 0;
}

h1, .h1{
    font-size: 36px;
    line-height: 48px;
}

h2, .h2{
    font-size: 24px;
    line-height: 32px;
}

h3, .h3{
    font-size: 20px;
    line-height: 24 px;
}

.paragraph, p{
    font-size: 16px;
    line-height: 24px;
}

.small-paragraph{
    font-size: 14px;
    line-height: 20px;
}

.small{
    font-size: 14px;
    line-height: 16px;
}

.x-small{
    font-size: 12px;
    line-height: 16px;
}

.tiny{
    font-size: 10px;
    line-height: 12px;
}

div, button{
    box-sizing: border-box; 
}

.spacer{
    width: 100%;
    height: $spacing-16px;
}

// Links

a, .link{
    color: $primary-300;
    transition: $transition;
    text-decoration: none;
    cursor: pointer;

    &:hover{
        color: $primary-400;
    }
}

//Buttons

button{
    background-color: $neutral-white;
    font-weight: 700;
    color: $primary-300;
    padding: 12px;
    border: 1px solid $neutral-400;
    border-radius: $border-radius-med;
    height: 44px;
    box-sizing: border-box;
    transition: color $easing 300ms, border-color $easing 300ms, box-shadow $easing 300ms, background-color $easing 300ms;
    cursor: pointer;

    &.tertiary{
        color: $neutral-600;
    }

    &:hover{
        border-color: $primary-400;
        color: $primary-400;
    }

    &:focus{
        outline: none;
        box-shadow: $focus-ring;
    }

    &.disabled{
        color: $neutral-500;
        cursor: not-allowed;

        &:hover{
            border-color: $neutral-400;
            color: $neutral-500;
        }

        &:focus{
            box-shadow: none;
        }
    }
    
    &.icon-btn{
        display: flex;
        align-items: center;

        svg{
            margin-right: $spacing-8px;  
        }

        &.right{
            svg{
                margin: 0;
                margin-left: $spacing-8px;  
            }
        }
    }

    &.primary{
        background: $primary-300;
        color: $neutral-white;
        border: none;

        &:hover{
            background: $primary-400;
            border: none;
        }

        &.disabled{
            background: $neutral-200;
            color: $neutral-500;
            cursor: not-allowed;
        }
    }
    
    &.transparent{
        border: none;

        &:hover{
            background-color: $primary-100;
        }

        &.disabled{
            color: $neutral-500;
            cursor: not-allowed;
    
            &:hover{
                background-color: transparent;
            }
        }
    }

    &.destructive{
        background-color: $error-300;
        color: $neutral-white;
        border: none;

        &:hover{
            background-color: $error-400;
            border: none;
        }

        &.disabled{
            background: $neutral-200;
            color: $neutral-500;
            cursor: not-allowed;
            border: none;
        }
    }
}
